.app {
  text-align: center;
}

.profile {
  border-radius: 50%;
  height: 30vmin;
  pointer-events: none;
}

section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #61dafb;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.subtitle {
  color: white;
  font-style: italic;
  font-size: calc(6px + 2vmin);
}
